<head>
  {% set project_name = project_name|default('Python Start Environment') %}
      <title>
        {% block page_title%}
        {% endblock %}
      </title>
  {# If any subpage has a special header, it should overwrite this. #}
  {% block header %}
  {% endblock %}
  <link rel="stylesheet" media="screen" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap-theme.min.css') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<div class="container">
  <!-- {{ active_page }} -->
  {% include '_navbar.html.j2' %}
</div>
<div class="container">
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
    {% block content %}
    {% endblock %}
</div>
</div>
</body>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.js') }}"></script>
