{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block header %}
  <h1>
    {% block title %}
      <title>{% block page_title%}{% endblock %} - {{app_name}}</title>
    {% endblock %}
  </h1>
  {# Import whatever bootstrap needs. #}
  {{ super() }}
  {# If any subpage has a special header, it should overwrite this. #}
  {% block page_header %}
  {% endblock %}
{% endblock %}

{% block navbar %}
<div class="navbar navbar-fixed-top">
  <h1>Flaskr</h1>
  <ul>
    {# g is automatically available in templates.
       Based on if g.user is set (from load_logged_in_user),
       either the username and a log out link are displayed,
       otherwise links to register and log in are displayed. #}
    {% if g.user %}
      <li><span>{{ g.user['username'] }}</span>
      <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
    {% else %}
      <li><a href="{{ url_for('auth.register') }}">Register</a>
      <li><a href="{{ url_for('auth.login') }}">Log In</a>
    {% endif %}
  </ul>
</div>
{% endblock %}

<section class="content">
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}
    {% block page_content %}
    {% endblock %}
  {% endblock %}
</section>
